<h1>Explore All Investments:</h1>

<ul>
<% @investments.each do |investment| %>
  <li><%= investment.symbol %></li>
<% end %>
</ul>

<br>

<h4>Find an Investment:</h1>
  <%=form_tag(investments_path, method: :get) do |f|%>
    <%= text_field_tag :search, params[:search] %><br><br>
    <%= submit_tag "Search" %><br>

  <%end%>
<br>
