<% if @user.errors.any? %>
  <div id="errors">
    <h4>
      Error:
    </h4>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Update Info For<%=@user.name%></h1>

<%=render partial: 'form', locals: {user: @user}%>
