<h1>User: <%= @user.username %></h1>

<h3>Portfolios:</h3>

<h3>Funds:</h3>


<br>
<%= link_to "New Asset", new_user_asset_path(@user) %><br>
<br>
<%= link_to "See All Assets", user_assets_path(@user) %></p>
