<h1>User: <%= @user.username %></h1>

<h3>Portfolios:</h3>


<br>
<%= link_to "Create New Portfolio", new_user_portfolio_path(@user) %><br>
<br>
<%= link_to "See All Portfolios", user_portfolios_path(@user) %></p>
