<h1>All Funds:</h1>

<div>
<% @funds.each do |fund| %>
  <p><%= link_to "#{fund.name}", user_fund_path(fund.user.first, fund) %></p>
  <p>Industry:<%= fund.industry %></p>
  <p>Strategy:<%= fund.strategy %></p><br><br>
<% end %>
</div>
