<div class="center-screen">
  <h1 id="title">Welcome to i.nvest!</h1>
  <h3>Create and share your i.nvestments.</h3>
  <br>
  <p>Sign up or sign in below to get started:</p>
    <%= button_to "Sign Up", new_user_path, method: :get, :class => "home-button" %>
    <br>
    <%= button_to "Sign In", signin_path, method: :get, :class => "home-button" %>
</div>
