<h1>Welcome to i.nvest!</h1>

<h3>Sign Up:</h3>
<%= button_to "Sign Up", new_user_path, method: :get %>

<h4>Sign In:</h4>
<%= button_to "Sign In", signin_path, method: :get %>
<%= button_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", method: :get%>
<br><br>
