<div class="center-screen">
  <h1>Welcome to i.nvest!</h1>
    <%= button_to "Sign Up", new_user_path, method: :get, :class => "button" %>
    <br>
    <%= button_to "Sign In", signin_path, method: :get, :class => "button" %>
</div>
